"*":

  'Ventrian - NewsArticle: Title':
    'prefix': 'dnnnews-articleid'
    'description': 'News Article Title'
    'body': '[TITLE]'

  'Ventrian - NewsArticle: Title URL Encoded':
    'prefix': 'dnnnews-articleid'
    'description': 'News Article Title URL Encoded'
    'body': '[TITLEURLENCODED]'

  'Ventrian - NewsArticle: Article ID':
    'prefix': 'dnnnews-articleid'
    'description': 'News Article ID'
    'body': '[ARTICLEID]'

  'Ventrian - NewsArticle: Link Source':
    'prefix': 'dnnnews-articlelink'
    'description': 'News Link Source'
    'body': '[ARTICLELINK]'

  'Ventrian - NewsArticle: Article Link XXX':
    'prefix': 'news-linkx'
    'description': '[ARTICLELINK:XXX] where XXX is another article ID.'
    'body': '<a href="[LINK${1:XXX}]" class="$2">${3:Enter Link Text}</a>'

  'Ventrian - NewsArticle: Article Summary':
    'prefix': 'dnnnews-summary'
    'description': 'News Article Summary'
    'body': '[SUMMARY]'

  'NewsArticle: Summary':
    'prefix': 'dnnnews-link'
    'description': 'News Article Link (URL)'
    'body': '<a href="[LINK]" class="$1">${2:Enter Link Text}</a>'

  'Ventrian - NewsArticle: Author XXX':
    'prefix': 'dnnnews-authorx'
    'description': '[AUTHOR:XXX] Where XXX is the Profile Field name. e.g. [AUTHOR:FirstName]'
    'body': '[AUTHOR:${1:FirstName}]'

  'Ventrian - NewsArticle: Caption XXX':
    'prefix': 'dnnnews-captionx'
    'description': '[CAPTION:XXX] Where XXX is the Name of the Caption.'
    'body': '[CAPTION:${1:XXX}]'

  'Ventrian - NewsArticle: HasAuthor':
    'prefix': 'dnnnews-hasauthor'
    'description': 'Has Author.'
    'body': """
            <%-- As Author --%>
            [HASAUTHOR]
            	$2
            [/HASAUTHOR]
            """

  'NewsArticle: HasAuthor XXX':
    'prefix': 'dnnnews-hasauthorx'
    'description': 'A Specific Author = XXXX',
    'body': """
            <%-- As Specific Author --%>
            [HASAUTHORVALUE:$1]
            	$2
            [/HASAUTHOR:$1]
            """

  #[Featured]
  'Ventrian - NewsArticle: Featured':
    'prefix': 'dnnnews-featured'
    'description': 'Is the Article Featured?'
    'body': """
            [ISFEATURED]
            	$2
            [/ISFEATURED]
            """

  'Ventrian - NewsArticle: Not Featured':
    'prefix': 'dnnnews-isnotfeatured'
    'description': 'Article(s) are NOT Featured'
    'body': """
            [ISNOTFEATURED]
            	$2
            [/ISNOTFEATURED]
            """

  #[Order Options]
  'Ventrian - NewsArticle: Is First':
    'prefix': 'dnnnews-isfirst'
    'description': 'Article is 1st in the list',
    'body': """
            [ISFIRST]
            	$2
            [/ISFIRST]
            """

  'Ventrian - NewsArticle: Is First2':
    'prefix': 'dnnnews-isfirst2'
    'description': 'Article is First2'
    'body': """
            [ISFIRST2]
            	$2
            [/ISFIRST2]
            """

  'Ventrian - NewsArticle: Is 2nd':
    'prefix': 'dnnnews-isfirst2'
    'description': 'Article is 2nd in the list'
    'body': """
            [ISSECOND]
            	$2
            [/ISSECOND]
            """


  'Ventrian - NewsArticle: Is Not 1st':
    'prefix': 'dnnnews-isnotfirst'
    'description': 'Article is not the 1st'
    'body': """
            [ISNOTFIRST]
            	$2
            [/ISNOTFIRST]
            """

  'Ventrian - NewsArticle: Is Not 2nd':
    'prefix': 'dnnnews-isnotfirst'
    'description': 'Article is not the 2nd '
    'body': """
            [ISNOTSECOND]
            	$2
            [/ISNOTSECOND]
            """

  #[Image Related]
  'Ventrian - NewsArticle: Image':
    'prefix': 'dnnnews-image'
    'description': 'Displays the 1st image in the list of images only'
    'body': '[IMAGE]'

  'Ventrian - NewsArticle: Image #':
    'prefix': 'dnnnews-imagez'
    'description': 'Where ZZZ is the position in list of images'
    'body': '[IMAGE:${1:ZZZ}]'

  'NewsArticle: Images List':
    'prefix':      'dnnnews-images'
    'description': 'Loads the images template file'
    'body':        '[IMAGES]'

  'Ventrian - NewsArticle: Image Count':
    'prefix': 'dnnnews-imgcount'
    'description': 'Display the image count in current article'
    'body': '[IMAGECOUNT]'

  'Ventrian - NewsArticle: Image URL Link':
    'prefix': 'dnnnews-imgcount'
    'description': 'Rednders the image URL only',
    'body': '[IMAGELINK]'

  'Ventrian - NewsArticle: Image Thumbnail URL':
    'prefix': 'dnnnews-imgthumbz'
    'description': 'The actual URL of the link to the thumbnail image'
    'body': '[IMAGETHUMBLINK:${1:ZZZ}]'

  'Ventrian - NewsArticle: Has Image ':
    'prefix': 'dnnnews-hasimage'
    'description': 'Article has atleast 1 image'
    'body': """
            [HASIMAGE]
              $1
            [/HASIMAGE]
            """

  'Ventrian - NewsArticle: Has More Images ':
    'prefix': 'dnnnews-hasimages'
    'description': 'Article Has More Than 1 Image'
    'body': """
            [HASIMAGES]
              $1
            [/HASIMAGES]
            """
