".text.html":

'NewsArticle: Article ID':
'prefix': 'dnnnews-articleid'
'description': ''
'body': '[ARTICLEID]'

'NewsArticle: Link Source':
'prefix': 'dnnnews-articlelink'
'description': ''
'body': '[ARTICLELINK]'

'NewsArticle: Article Link XXX':
'prefix': 'news-linkx'
'description': '[ARTICLELINK:XXX] where XXX is another article ID.',
'body': '<a href="[LINK${1:XXX}]" class="$2">${3:Enter Link Text}</a>'

'NewsArticle: Article Link':
'prefix': 'dnnnews-link'
'description': ''
'body': '<a href="[LINK]" class="$1">${2:Enter Link Text}</a>'

'NewsArticle: Author XXX':
'prefix': 'dnnnews-authorx'
'description': '[AUTHOR:XXX] Where XXX is the Profile Field name. e.g. [AUTHOR:FirstName]',
'body': '[AUTHOR${1:FirstName}]'

'NewsArticle: Caption XXX':
'prefix': 'dnnnews-captionx'
'description': '[CAPTION:XXX] Where XXX is the Name of the Caption.',
'body': '[CAPTION${1:XXX}]'


'NewsArticle: HasAuthor':
'prefix': 'dnnnews-hasauthor'
'description': 'Has Author.',
'body': """
				<%-- As Author --%>
				[HASAUTHOR]
					$1
				[/HASAUTHOR]
				"""

'NewsArticle: HasAuthor XXX':
'prefix': 'dnnnews-hasauthorx'
'description': 'A Specific Author = XXXX',
'body': """
				<%-- As Specific Author --%>
				[HASAUTHORVALUE:$1]
					$2
				[/HASAUTHOR:$1]
				"""
