'.text.html':
  'editor':
    'completions': [

      #[News Article Module]
      '[ARTICLEID]'
      '[ARTICLELINK]'
      '[ARTICLELINK:XXX]'
      '[APPROVERDISPLAYNAME]'
      '[APPROVERFIRSTNAME]'
      '[APPROVERLASTNAME]'
      '[APPROVERUSERNAME]'
      '[AUTHOR]'
      '[AUTHOR:XXX]'
      '[AUTHOREMAIL]'
      '[AUTHORUSERNAME]'
      '[AUTHORFIRSTNAME]'
      '[AUTHORLASTNAME]'
      '[AUTHORFULLNAME]'
      '[AUTHORID]'
      '[CAPTION:XXX]'
      '[CATEGORIES]'
      '[CATEGORIESNOLINK]'
      '[CREATEDATE]'
      '[CREATETIME]'
      '[COMMENTCOUNT]'
      '[COMMENTLINK]'
      '[COMMENTRSS]'
      '[COMMENTS]'
      '[CURRENTPAGE]'
      '[CUSTOMFIELDS]'
      '[CUSTOM:XXX]'
      '[DETAILS]'
      '[DETAILS:XXX]'
      '[EDIT]'
      '[EXPRESSION:XXX:YY:ZZZ][/EXPRESSION:XXX:YY:ZZZ]'
      '[FILECOUNT]'
      '[FILES]'
      '[GRAVATARURL]'
      '[HASAUTHOR][/HASAUTHOR]'
      '[HASAUTHORVALUE:XXX][/HASAUTHORVALUE:XXX]'
      '[HASCOMMENTS][/HASCOMMENTS]'
      '[HASCOMMENTSENABLED][/HASCOMMENTSENABLED]'
      '[HASCUSTOMFIELDS][/HASCUSTOMFIELDS]'
      '[HASFILES][/HASFILES]'
      '[HASIMAGE][/HASIMAGE]'
      '[HASIMAGES][/HASIMAGES]'
      '[HASMULTIPLEIMAGES][/HASMULTIPLEIMAGES]'
      '[HASNOAUTHOR][/HASNOAUTHOR]'
      '[HASNOCOMMENTS][/HASNOCOMMENTS]'
      '[HASNOFILES][/HASNOFILES]'
      '[HASNOIMAGE][/HASNOIMAGE]'
      '[HASNOIMAGES][/HASNOIMAGES]'
      '[HASNOLINK][/HASNOLINK]'
      '[HASLINK][/HASLINK]'
      '[HASMOREDETAIL][/HASMOREDETAIL]'
      '[HASMOREDETAIL:XXX][/HASMOREDETAIL:XXX]'
      '[HASMULTIPLEPAGES][/HASMULTIPLEPAGES]'
      '[HASNEXTPAGE][/HASNEXTPAGE]'
      '[HASPREVPAGE][/HASPREVPAGE]'
      '[HASRATING][/HASRATING]'
      '[HASRATINGSENABLED][/HASRATINGSENABLED]'
      '[HASRELATED][/HASRELATED]'
      '[HASSUMMARY][/HASSUMMARY]'
      '[HASNOSUMMARY][/HASNOSUMMARY]'
      '[HASTAG:XXX][/HASTAG:XXX]'
      '[HASVALUE:XXX][/HASVALUE:XXX]'
      '[HASNOVALUE:XXX][/HASNOVALUE:XXX]'
      '[HASTAGS][/HASTAGS]'
      '[IMAGE]'
      '[IMAGE:ZZZ]'
      '[IMAGECOUNT]'
      '[IMAGELINK]'
      '[IMAGES]'
      '[IMAGETHUMB:XXX:YYY]'
      '[IMAGETHUMBRANDOM:XXX:YYY]'
      '[IMAGETHUMB:XXX:YYY:ZZZ]'
      '[IMAGETHUMBLINK:XXX]'
      '[ISANONYMOUS][/ISANONYMOUS]'
      '[ISAUTHOR][/ISAUTHOR]'
      '[ISDRAFT][/ISDRAFT]'
      '[ISFEATURED][/ISFEATURED]'
      '[ISNOTFEATURED][/ISNOTFEATURED]'
      '[ISFIRST][/ISFIRST]'
      '[ISFIRST2][/ISFIRST2]'
      '[ISINROLE:XXX][/ISINROLE:XXX]'
      '[ISITEMINDEX:XXX][/ISITEMINDEX:XXX]'
      '[ISLOCALE:XXX][/ISLOCALE:XXX]'
      '[ISNOTANONYMOUS][/ISNOTANONYMOUS]'
      '[ISNOTFIRST][/ISNOTFIRST]'
      '[ISNOTSECOND][/ISNOTSECOND]'
      '[ISNOTSECURE][/ISNOTSECURE]'
      '[ISPAGE:XXX][/ISPAGE:XXX]'
      '[ISNOTPAGE:XXX][/ISNOTPAGE:XXX]'
      '[ISPUBLISHED][/ISPUBLISHED]'
      '[ISRATEABLE][/ISRATEABLE]'
      '[ISRSSITEM][/ISRSSITEM]'
      '[ISNOTRSSITEM][/ISNOTRSSITEM]'
      '[ISSECOND][/ISSECOND]'
      '[ISSECURE][/ISSECURE]'
      '[ISSYNDICATIONENABLED][/ISSYNDICATIONENABLED]'
      '[ITEMINDEX]'
      '[LASTUPDATEDATE]'
      '[LASTUPDATEEMAIL]'
      '[LASTUPDATEFIRSTNAME]'
      '[LASTUPDATELASTNAME]'
      '[LASTUPDATEUSERNAME]'
      '[LASTUPDATEFULLNAME]'
      '[LASTUPDATEID]'
      '[LINK]'
      '[LINKNEXT]'
      '[LINKPREVIOUS]'
      '[LINKTARGET]'
      '[MODULEID]'
      '[PAGECOUNT]'
      '[PAGE:XX]'
      '[PAGER]'
      '[PAGER2]'
      '[PAGES]'
      '[PAGESLIST]'
      '[PAGESLIST2]'
      '[PAGETEXT]'
      '[PAGETITLE]'
      '[PAGETITLENEXT]'
      '[PAGETITLEPREV]'
      '[PORTALALIAS]'
      '[PORTALROOT]'
      '[POSTCOMMENT]'
      '[POSTRATING]'
      '[PRINT]'
      '[PRINTLINK]'
      '[PUBLISHSTARTDATE]'
      '[PUBLISHSTARTDATE:XXX]'
      '[PUBLISHENDDATE]'
      '[PUBLISHENDDATE:XXX]'
      '[RATING]'
      '[RATINGCOUNT]'
      '[RATINGDETAIL]'
      '[RELATED]'
      '[RELATED:XXX]'
      '[SITETITLE]'
      '[SUMMARY]'
      '[TABID]'
      '[TABTITLE]'
      '[TAGS]'
      '[TAGSNOLINK]'
      '[TEMPLATEPATH]'
      '[TITLE]'
      '[TITLEURLENCODED]'
      '[TITLE:XXX]'
      '[TWITTERNAME]'
      '[VIEWCOUNT]'
      '[SUMMARY:XXX]'
      '[CREATEDATELESSTHAN:XXX]'
      '[UPDATEDATELESSTHAN:XXX]'



    ]
